* {
    box-sizing: border-box;
 }

body, html {
    margin: 0 auto;
    padding: 0;
 }

 .container{
    padding-right: 0%;
    padding-left: 0%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    }

.carousel-item img{
    height: 100vh;
}

.carousel-indicators [data-bs-target]{
    background-color: transparent!important;
}

.image-wrapper{
    display: flex;
}

.image-wrapper img{
    height: 30vh;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover{
    color: #0b5ed7!important;
    border: 1px solid #0b5ed7;
    background-color: #fff!important;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .image-wrapper .container{
        width: 50%;
    }
    .carousel-item img{
        height: 50vh;
    }
    .img-fluid{
        height: 100%;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 576px) {
    .image-wrapper .container{
        width: 50%;
    }
    .navbar{
        width: 100%;
    }
    .carousel-item img{
        height: 25%;
    }

    .carousel-caption{
        font-size: 0.5em;
        margin-bottom: 0px;
    }

    .container img{
        height: 20%;
    }
    .img-fluid{
        height: 100%;
    }

    
}
@media screen and (max-width: 320px) {
    .container{
        width: 100%;
    }
    .image-wrapper .container{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .img-fluid{
        height: 100%;
    }
    
}